*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

table{
    border: 1px solid rebeccapurple;
    padding: 16px;
    margin: 40px;
    border-collapse: collapse;
    background-color: rgb(211, 169, 117);
}

th, td {
    padding: 16px;
    border: 12px solid rgb(31, 40, 31);
    margin: 16px;
}

div.Box{
    padding: 16px;
    margin: 16px;
    border: 2px solid brown;
}

/* .text-red{
    border: 2px solid violet;
    padding: 16px;
    margin: 16px;
} */
/* body{
    height: 200vw;
} */
